Leave Management
  <h1>

    <select id="cars" name="cars">
      <option value="volvo">employee</option>
      <option value="saab" ><a [routerLink]="'/my-leaves'">Submit</a></option>
      <option value="fiat">Employee List</option>

    </select>
    <select id="cars" name="cars">
      <option value="volvo">Leave Configuration</option>
      <option value="saab">leave Add</option>
      <option value="fiat">Leave Configuration page</option>

    </select>
    <select id="cars" name="cars">
      <option value="volvo">employee</option>
      <option value="saab">Add Employee</option>
      <option value="fiat">Employee List</option>

    </select>

    
    Leave List
  </h1>
