<div class="myleaves">
  My leaves<br /><br/>
  Leave Balance<br />
  <br/>
  <div class="employeelist">
    <table style="width:100%">
      <tr>
        <th>Leave Date</th>
        <th>Leave Type</th>
        <th>Number of days </th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>

      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>50</td>
      </tr>
    </table>
  </div>
</div>
